
<!--カレントユーザー　詳細-->
<%= render 'users/list', users: @users %>

<!--Book　新規投稿-->
<%= render 'books/post', books: @books %>


<!--User　一覧-->
<h1>Users</h1>

<% @books.each do |book| %>
<div>
  <p>image <%= image_tag book.user.get_profile_image(80,80) %></p>
  <p>name <%= book.title %></p>
  
<!--User 詳細-->
  <td><%= link_to "Show", new_book_path(current_user.id) %></td>
  
</div>
<% end %>