
<!--カレントユーザー　詳細-->
<%= render 'users/list', users: @users %>

<!--Book　新規投稿-->
<%= render 'books/post', books: @books %>


<!--Book　詳細-->
<h1>Book detail</h1>

<div>
  <%= image_tag @book.user.get_profile_image(80,80) %>
  
  <p><%= link_to @book.title, book_path %></p>
  <p><%= @book.body %></p>
  <p><%= link_to @book.user.name %></p>
  
  <% if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path(@book.id) %>
    <%= link_to "destroy", book_path(@book), method: :delete %>
  <% end %>
  
</div>